---
title: ActionView::Template::Sources
layout: default
---
<div class="main">
    <div class="banner">
        
            <span>Ruby on Rails 6.1.6</span><br />
        
        <div class="type">Module</div>
        <h1>
            ActionView::Template::Sources
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../files/actionview/lib/action_view/template/sources_rb.html">actionview/lib/action_view/template/sources.rb</a></li>
            
            <li><a href="../../../files/actionview/lib/action_view/template/sources/file_rb.html">actionview/lib/action_view/template/sources/file.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  

  

  
  


  
    <h2 id="namespace">Namespace</h2>

    

    
      <h3 id="class">Class</h3>
      <ul>
      
        <li><a href="Sources/File.html">ActionView::Template::Sources::File</a></li>
      
      </ul>
    
  

  

  

  
    

    

    

    

    <!-- Methods -->
    
    
    
  
</div>

    </div>
</div>
