---
title: ActionView::Layouts::ClassMethods
layout: default
---
<div class="main">
    <div class="banner">
        
            <span>Ruby on Rails 5.2.5</span><br />
        
        <div class="type">Module</div>
        <h1>
            ActionView::Layouts::ClassMethods
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../files/actionview/lib/action_view/layouts_rb.html">actionview/lib/action_view/layouts.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  

  

  
  


  

  
    <h2 id="methods">Methods</h2>
    <ul>
      
        <li>
          <a href="#method-i-layout">layout</a>
        </li>
      
    </ul>
  

  

  
    

    

    

    

    <!-- Methods -->
    
    
      <h2 id="instance-public-methods">Instance Public methods</h2>
      
        <div class="method">
          <h3 id="method-i-layout">
            
              layout(layout, conditions = {})
            
          </h3>

          
            <div class="description">
              <p>Specify the layout to use for this class.</p>

<p>If the specified layout is a:</p>
<dl class="rdoc-list note-list"><dt><a href="../../String.html"><code>String</code></a>
<dd>
<p>the <a href="../../String.html"><code>String</code></a> is the template name</p>
</dd><dt><a href="../../Symbol.html"><code>Symbol</code></a>
<dd>
<p>call the method specified by the symbol</p>
</dd><dt>Proc
<dd>
<p>call the passed Proc</p>
</dd><dt>false
<dd>
<p>There is no layout</p>
</dd><dt>true
<dd>
<p>raise an ArgumentError</p>
</dd><dt>nil
<dd>
<p>Force default layout behavior with inheritance</p>
</dd></dl>

<p>Return value of <code>Proc</code> and <code>Symbol</code> arguments should be <code>String</code>, <code>false</code>, <code>true</code> or <code>nil</code> with the same meaning as described above.</p>

<h4 id="method-i-layout-label-Parameters">Parameters</h4>
<ul><li>
<p><code>layout</code> - The layout to use.</p>
</li></ul>

<h4 id="method-i-layout-label-Options+-28conditions-29">Options (conditions)</h4>
<ul><li>
<p>:only   - A list of actions to apply this layout to.</p>
</li><li>
<p>:except - Apply this layout to all actions but this one.</p>
</li></ul>
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-i-layout_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/layouts.rb, line 267</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">layout</span>(<span class="ruby-identifier">layout</span>, <span class="ruby-identifier">conditions</span> = {})
  <span class="ruby-identifier">include</span> <span class="ruby-constant">LayoutConditions</span> <span class="ruby-keyword">unless</span> <span class="ruby-identifier">conditions</span>.<span class="ruby-identifier">empty?</span>

  <span class="ruby-identifier">conditions</span>.<span class="ruby-identifier">each</span> { <span class="ruby-operator">|</span><span class="ruby-identifier">k</span>, <span class="ruby-identifier">v</span><span class="ruby-operator">|</span> <span class="ruby-identifier">conditions</span>[<span class="ruby-identifier">k</span>] = <span class="ruby-constant">Array</span>(<span class="ruby-identifier">v</span>).<span class="ruby-identifier">map</span>(<span class="ruby-operator">&amp;</span><span class="ruby-value">:to_s</span>) }
  <span class="ruby-keyword">self</span>.<span class="ruby-identifier">_layout_conditions</span> = <span class="ruby-identifier">conditions</span>

  <span class="ruby-keyword">self</span>.<span class="ruby-identifier">_layout</span> = <span class="ruby-identifier">layout</span>
  <span class="ruby-identifier">_write_layout_method</span>
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
      
    
  
</div>

    </div>
</div>
