---
title: ActionView::Template::Sources::File
layout: default
---
<div class="main">
    <div class="banner">
        
            <span>Ruby on Rails 6.1.6</span><br />
        
        <div class="type">Class</div>
        <h1>
            ActionView::Template::Sources::File
            
                <span class="parent">&lt;
                    
                    <a href="../../../Object.html">Object</a>
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../../files/actionview/lib/action_view/template/sources/file_rb.html">actionview/lib/action_view/template/sources/file.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  

  

  
  


  

  
    <h2 id="methods">Methods</h2>
    <ul>
      
        <li>
          <a href="#method-c-new">new</a>
        </li>
      
        <li>
          <a href="#method-i-to_s">to_s</a>
        </li>
      
    </ul>
  

  

  
    

    

    

    

    <!-- Methods -->
    
      <h2 id="class-public-methods">Class Public methods</h2>
      
        <div class="method">
          <h3 id="method-c-new">
            
              new(filename)
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-c-new_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/template/sources/file.rb, line 7</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">initialize</span>(<span class="ruby-identifier">filename</span>)
  <span class="ruby-ivar">@filename</span> = <span class="ruby-identifier">filename</span>
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
      
    
      <h2 id="instance-public-methods">Instance Public methods</h2>
      
        <div class="method">
          <h3 id="method-i-to_s">
            
              to_s()
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-i-to_s_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/template/sources/file.rb, line 11</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">to_s</span>
  <span class="ruby-operator">::</span><span class="ruby-constant">File</span>.<span class="ruby-identifier">binread</span> <span class="ruby-ivar">@filename</span>
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
      
    
  
</div>

    </div>
</div>
