a { color: #cc0000; }
a:hover { color: #990000; }

code { color: #222; background: #eee; border-radius: 2px; padding: 1px 3px; }

.sticky-header { position: sticky; top: 0; z-index: 1030; }

.sidebar-sticky { position: sticky; order: 0; top: 48px; height: calc(100vh - 48px); z-index: 100; /* Behind the navbar */ box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1); }
.sidebar-sticky ul { padding: 0; }
.sidebar-sticky ul li { list-style: none; margin: 0 0 0 1em; }

.toc-content-sticky { position: sticky; order: 2; top: 48px; max-height: calc(100vh - 48px); z-index: 100; /* Behind the navbar */ box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1); overflow-y: auto; }
.toc-content-sticky .toc-content { padding-top: 10px; }

.section-nav { padding-left: .5rem; border-left: 1px solid #eee; }
.section-nav ul { padding-left: 1rem; }
.section-nav a { color: rgba(0, 0, 0, 0.8); font-size: .8rem; }
.section-nav a:hover { color: #990000; text-decoration: none; }

.toc-entry { display: block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }

.sidebar-content { position: relative; max-height: calc(100vh - 48px); margin-right: -15px; margin-left: -15px; padding-top: .5rem; overflow-x: hidden; overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */ }
.sidebar-content a { color: rgba(0, 0, 0, 0.8); }
.sidebar-content a:hover { color: #990000; text-decoration: none; }
.sidebar-content .active-link { font-weight: bold; text-decoration: underline; }
.sidebar-content .icon { cursor: pointer; background: url("/assets/image/arrow-right.svg"); display: inline-block; width: 11px; height: 11px; }
.sidebar-content .icon-opened { background: url("/assets/image/arrow-down.svg"); }
.sidebar-content > ul > li { margin: 0 0 0 .5em; }

[role="main"] { padding-top: 10px; /* Space for fixed navbar */ overflow-wrap: break-word; order: 1; }
@media (min-width: 768px) { [role="main"] { padding-top: 133px; } }

.permalink { float: right; font-size: .6em; }

.banner { padding-top: 20px; }
.banner h1 { font-size: 1.7em; }
.banner ul { padding: 0; }
.banner ul li { list-style: none; }
.banner .type, .banner .parent { color: #aaa; }

.methods ul li { padding-right: .5em; list-style: none; display: inline; }

.method h3 { font-family: monospace; font-size: 1.3rem; }

#content h2 { margin-top: 2rem; }
#content h3 { margin-top: 1.5rem; }
#content h4 { margin-top: 1rem; }
#content h2[id]::before, #content h3[id]::before, #content h4[id]::before, #content h5[id]::before, #content h6[id]::before { display: block; height: 4rem; margin-top: -4rem; visibility: hidden; content: ""; }
#content .attr-name { font-weight: bold; font-family: monospace; }
#content .attr-value { font-family: monospace; }
#content .attr-rw { font-family: monospace; }

.navbar-brand { padding-top: .75rem; padding-bottom: .75rem; font-size: 1rem; font-family: 'Asap', sans-serif; background-color: rgba(0, 0, 0, 0.25); box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25); }

.navbar .form-control { padding: .75rem 1rem; border-width: 0; border-radius: 0; }

.form-control-dark { color: #fff; background-color: rgba(255, 255, 255, 0.1); border-color: rgba(255, 255, 255, 0.1); }

.form-control-dark:focus { border-color: transparent; box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25); }

.anchorjs-link { color: #AAAAAA; }
.anchorjs-link:hover { color: #cc0000; text-decoration: none; }
