// Variables
$grey: #aaa;
$red: #cc0000;
$dark-red: #990000;

$navbar-height: 48px;

// global
a {
  color: $red;

  &:hover {
    color: $dark-red;
  }
}

code {
  color: #333;
}

// Header
.sticky-header {
  position: sticky;
  top: 0;
  z-index: 1030;
}

// Sidebar
.sidebar-sticky {
  position: sticky;
  order: 0;
  top: $navbar-height;
  height: calc(100vh - #{$navbar-height});
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  ul {
    padding: 0;

    li {
      list-style: none;
      margin: 0 0 0 1em;
    }
  }
}

.toc-content-sticky {
  position: sticky;
  order: 2;
  top: $navbar-height;
  max-height: calc(100vh - #{$navbar-height});
  z-index: 100; /* Behind the navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  overflow-y: auto;

  .toc-content {
    padding-top: 10px;
  }
}

.section-nav {
  padding-left: .5rem;
  border-left: 1px solid #eee;
  
  ul {
    padding-left: 1rem;
  }

  a {
    color: rgba(0, 0, 0, .8);
    font-size: .8rem;

    &:hover {
      color: $dark-red;
      text-decoration: none;
    }
  }
}

.toc-entry {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.sidebar-content {
  position: relative;
  max-height: calc(100vh - #{$navbar-height});
  margin-right: -15px;
  margin-left: -15px;
  padding-top: .5rem;
  overflow-x: hidden;  
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */

  a {
    color: rgba(0, 0, 0, .8);

    &:hover {
      color: $dark-red;
      text-decoration: none;
    }
  }

  .icon {
    cursor: pointer;
    background: url("/assets/image/arrow-right.svg");
    display: inline-block;
    width: 11px;
    height: 11px;
  }

  .icon-opened {
    background: url("/assets/image/arrow-down.svg");
  }

  & > ul > li {
    margin: 0 0 0 .5em;
  }
}

// Content
[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
  order: 1;
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

.permalink {
  float: right;
  font-size: .6em;
}

.banner {
  padding-top: 20px;

  h1 {
    font-size: 1.7em;
  }

  ul {
    padding: 0;

    li {
      list-style: none;
    }
  }

  .type, .parent {
    color: $grey;
  }
}

.methods {
  ul li {
    padding-right: .5em;
    list-style: none;
    display: inline;
  }
}

#content {
  $hacky-div-height: 4rem;

  h2 {
    margin-top: 2rem;
  }

  h3 {
    margin-top: 1.5rem;
  }

  h4 {
    margin-top: 1rem;
  }

  h2[id]::before, h3[id]::before, h4[id]::before, h5[id]::before, h6[id]::before {
    display: block;
    height: $hacky-div-height;
    margin-top: -$hacky-div-height;
    visibility: hidden;
    content: "";
  }

  .attr-name {
    font-weight: bold;
  }
}

// Navbar
.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  font-family: 'Asap', sans-serif;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

// Code Block
.dyn-source {
  background-color: #f7f7f9;
  margin: 0.5em 0;
  padding: .5em 1em;
}

.dyn-source .cmt {
  color: #00F;
  font-style: italic;
}

.dyn-source .kw {
  color: #070;
  font-weight: bold;
}

.ruby-constant {
  color: teal;
}
.ruby-keyword {
  color: #000;
  font-weight: bold
}
.ruby-title {
  color: #900;
  font-weight: bold;
}
.ruby-ivar {
  color: teal;
}
.ruby-operator {
  color: #000;
  font-weight: bold
}
.ruby-identifier {
  color: #000;
}
.ruby-string,
.ruby-node {
  color: #D14;
}
.ruby-comment {
  color: #998;
  font-style: italic;
}
.ruby-regexp {
  color: #009926;
}
.ruby-value {
  color: #990073;
}
.ruby-number {
  color: #40A070;
}

.anchorjs-link {
  color: #AAAAAA;

  &:hover {
    color: $red;
    text-decoration: none;
  }
}
