---
title: ActionView::Template::Handlers::Builder
layout: default
---
<div class="main">
    <div class="banner">
        
            <span>Ruby on Rails 6.1.3.2</span><br />
        
        <div class="type">Class</div>
        <h1>
            ActionView::Template::Handlers::Builder
            
                <span class="parent">&lt;
                    
                    <a href="../../../Object.html">Object</a>
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../../files/actionview/lib/action_view/template/handlers/builder_rb.html">actionview/lib/action_view/template/handlers/builder.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  

  

  
  


  

  
    <h2 id="methods">Methods</h2>
    <ul>
      
        <li>
          <a href="#method-i-call">call</a>
        </li>
      
        <li>
          <a href="#method-i-require_engine">require_engine</a>
        </li>
      
    </ul>
  

  

  
    

    

    

    

    <!-- Methods -->
    
    
      <h2 id="instance-public-methods">Instance Public methods</h2>
      
        <div class="method">
          <h3 id="method-i-call">
            
              call(template, source)
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-i-call_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/template/handlers/builder.rb, line 8</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">call</span>(<span class="ruby-identifier">template</span>, <span class="ruby-identifier">source</span>)
  <span class="ruby-identifier">require_engine</span>
  <span class="ruby-string">&quot;xml = ::Builder::XmlMarkup.new(:indent =&gt; 2);&quot;</span> \
    <span class="ruby-string">&quot;self.output_buffer = xml.target!;&quot;</span> <span class="ruby-operator">+</span>
    <span class="ruby-identifier">source</span> <span class="ruby-operator">+</span>
    <span class="ruby-string">&quot;;xml.target!;&quot;</span>
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
      
      <h2 id="instance-private-methods">Instance Private methods</h2>
      
        <div class="method">
          <h3 id="method-i-require_engine">
            
              require_engine()
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-i-require_engine_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/template/handlers/builder.rb, line 17</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">require_engine</span> <span class="ruby-comment"># :doc:</span>
  <span class="ruby-ivar">@required</span> <span class="ruby-operator">||=</span> <span class="ruby-keyword">begin</span>
    <span class="ruby-identifier">require</span> <span class="ruby-string">&quot;builder&quot;</span>
    <span class="ruby-keyword">true</span>
  <span class="ruby-keyword">end</span>
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
      
    
  
</div>

    </div>
</div>
