---
title: ActionView::Template::Handlers::ERB
layout: default
---
<div class="main">
    <div class="banner">
        
            <span>Ruby on Rails 8.1.0</span><br />
        
        <div class="type">Class</div>
        <h1>
            ActionView::Template::Handlers::ERB
            
                <span class="parent">&lt;
                    
                    <a href="../../../Object.html">Object</a>
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../../files/actionview/lib/action_view/template/handlers/erb_rb.html">actionview/lib/action_view/template/handlers/erb.rb</a></li>
            
            <li><a href="../../../../files/actionview/lib/action_view/template/handlers/erb/erubi_rb.html">actionview/lib/action_view/template/handlers/erb/erubi.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  

  

  
  


  

  
    <h2 id="methods">Methods</h2>
    <ul>
      
        <li>
          <a href="#method-c-call">call</a>
        </li>
      
        <li>
          <a href="#method-i-call">call</a>
        </li>
      
        <li>
          <a href="#method-i-handles_encoding-3F">handles_encoding?</a>
        </li>
      
        <li>
          <a href="#method-i-supports_streaming-3F">supports_streaming?</a>
        </li>
      
        <li>
          <a href="#method-i-translate_location">translate_location</a>
        </li>
      
    </ul>
  

  

  
    

    

    
      <!-- Section constants -->
      <h2 id="constants">Constants</h2>
      <table border='0' cellpadding='5'>
        
          <tr valign='top'>
            <td class="attr-name">ENCODING_TAG</td>
            <td>=</td>
            <td class="attr-value">Regexp.new(&quot;\\A(&lt;%#{ENCODING_FLAG}-?%&gt;)[ \\t]*&quot;)</td>
          </tr>
          
        
      </table>
    

    

    <!-- Methods -->
    
      <h2 id="class-public-methods">Class Public methods</h2>
      
        <div class="method">
          <h3 id="method-c-call"><code><b>call</b>(template, source)</code></h3>

          

          

          

          
          
            <details class="method__source">
              <summary>
                <span class="label">📝 Source code</span>
              </summary>

              <pre><code class="ruby"># File actionview/lib/action_view/template/handlers/erb.rb, line 29
def self.call(template, source)
  new.call(template, source)
end</code></pre>
              
                <a href="https://github.com/rails/rails/blob/1cdd190a25e483b65f1f25bbd0f13a25d696b461/actionview/lib/action_view/template/handlers/erb.rb#L29" target="_blank" class="github_url">🔎 See on GitHub</a>
              
            </details>
          
        </div>
        
      
    
      <h2 id="instance-public-methods">Instance Public methods</h2>
      
        <div class="method">
          <h3 id="method-i-call"><code><b>call</b>(template, source)</code></h3>

          

          

          

          
          
            <details class="method__source">
              <summary>
                <span class="label">📝 Source code</span>
              </summary>

              <pre><code class="ruby"># File actionview/lib/action_view/template/handlers/erb.rb, line 65
def call(template, source)
  # First, convert to BINARY, so in case the encoding is
  # wrong, we can still find an encoding tag
  # (&lt;%# encoding %&gt;) inside the String using a regular
  # expression
  template_source = source.b

  erb = template_source.gsub(ENCODING_TAG, &quot;&quot;)
  encoding = $2

  erb.force_encoding valid_encoding(source.dup, encoding)

  # Always make sure we return a String in the default_internal
  erb.encode!

  # Strip trailing newlines from the template if enabled
  erb.chomp! if strip_trailing_newlines

  options = {
    escape: (self.class.escape_ignore_list.include? template.type),
    trim: (self.class.erb_trim_mode == &quot;-&quot;)
  }

  if ActionView::Base.annotate_rendered_view_with_filenames &amp;&amp; template.format == :html
    options[:preamble] = &quot;@output_buffer.safe_append=&#39;&lt;!-- BEGIN #{template.short_identifier}\n--&gt;&#39;;&quot;
    options[:postamble] = &quot;@output_buffer.safe_append=&#39;&lt;!-- END #{template.short_identifier} --&gt;&#39;;@output_buffer&quot;
  end

  self.class.erb_implementation.new(erb, options).src
end</code></pre>
              
                <a href="https://github.com/rails/rails/blob/1cdd190a25e483b65f1f25bbd0f13a25d696b461/actionview/lib/action_view/template/handlers/erb.rb#L65" target="_blank" class="github_url">🔎 See on GitHub</a>
              
            </details>
          
        </div>
        
        <div class="method">
          <h3 id="method-i-handles_encoding-3F"><code><b>handles_encoding?</b>()</code></h3>

          

          

          

          
          
            <details class="method__source">
              <summary>
                <span class="label">📝 Source code</span>
              </summary>

              <pre><code class="ruby"># File actionview/lib/action_view/template/handlers/erb.rb, line 37
def handles_encoding?
  true
end</code></pre>
              
                <a href="https://github.com/rails/rails/blob/1cdd190a25e483b65f1f25bbd0f13a25d696b461/actionview/lib/action_view/template/handlers/erb.rb#L37" target="_blank" class="github_url">🔎 See on GitHub</a>
              
            </details>
          
        </div>
        
        <div class="method">
          <h3 id="method-i-supports_streaming-3F"><code><b>supports_streaming?</b>()</code></h3>

          

          

          

          
          
            <details class="method__source">
              <summary>
                <span class="label">📝 Source code</span>
              </summary>

              <pre><code class="ruby"># File actionview/lib/action_view/template/handlers/erb.rb, line 33
def supports_streaming?
  true
end</code></pre>
              
                <a href="https://github.com/rails/rails/blob/1cdd190a25e483b65f1f25bbd0f13a25d696b461/actionview/lib/action_view/template/handlers/erb.rb#L33" target="_blank" class="github_url">🔎 See on GitHub</a>
              
            </details>
          
        </div>
        
        <div class="method">
          <h3 id="method-i-translate_location"><code><b>translate_location</b>(spot, _backtrace_location, source)</code></h3>

          <div class="description">
<p>Translate an error location returned by ErrorHighlight to the correct source location inside the template.</p>
</div>

          

          

          
          
            <details class="method__source">
              <summary>
                <span class="label">📝 Source code</span>
              </summary>

              <pre><code class="ruby"># File actionview/lib/action_view/template/handlers/erb.rb, line 43
def translate_location(spot, _backtrace_location, source)
  compiled = spot[:script_lines]
  highlight = compiled[spot[:first_lineno] - 1]&amp;.byteslice((spot[:first_column] - 1)...spot[:last_column])
  return nil if highlight.blank?

  source_lines = source.lines
  lineno_delta = find_lineno_offset(compiled, source_lines, highlight, spot[:first_lineno])

  tokens = ::ERB::Util.tokenize(source_lines[spot[:first_lineno] - lineno_delta - 1])
  column_delta = find_offset(spot[:snippet], tokens, spot[:first_column])

  spot[:first_lineno] -= lineno_delta
  spot[:last_lineno] -= lineno_delta
  spot[:first_column] -= column_delta
  spot[:last_column] -= column_delta
  spot[:script_lines] = source_lines

  spot
rescue NotImplementedError, LocationParsingError
  nil
end</code></pre>
              
                <a href="https://github.com/rails/rails/blob/1cdd190a25e483b65f1f25bbd0f13a25d696b461/actionview/lib/action_view/template/handlers/erb.rb#L43" target="_blank" class="github_url">🔎 See on GitHub</a>
              
            </details>
          
        </div>
        
      
    
  
</div>

    </div>
</div>
