---
title: ActionView::Template::Handlers::Html
layout: default
---
<div class="main">
    <div class="banner">
        
            <span>Ruby on Rails 5.2.3</span><br />
        
        <div class="type">Class</div>
        <h1>
            ActionView::Template::Handlers::Html
            
                <span class="parent">&lt;
                    
                    Raw
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../../files/actionview/lib/action_view/template/handlers/html_rb.html">actionview/lib/action_view/template/handlers/html.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  

  

  
  


  

  
    <!-- Method ref -->
    <h2 id="methods">Methods</h2>
    <dl class="methods">
      
        <dt>C</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-i-call">call</a>
              </li>
            
          </ul>
        </dd>
      
    </dl>
  

  

  
    

    

    

    

    <!-- Methods -->
    
    
      <h2 id="instance-public-methods">Instance Public methods</h2>
      
        <div class="method">
          <h3 id="method-i-call">
            
              call(template)
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-i-call_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionview/lib/action_view/template/handlers/html.rb, line 6</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">call</span>(<span class="ruby-identifier">template</span>)
  <span class="ruby-node">&quot;ActionView::OutputBuffer.new #{super}&quot;</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
      
    
  
</div>

    </div>
</div>
