---
title: ActionView::Template::Types
layout: default
---
<div class="main">
    <div class="banner">
        
            <span>Ruby on Rails 5.2.3</span><br />
        
        <div class="type">Class</div>
        <h1>
            ActionView::Template::Types
            
                <span class="parent">&lt;
                    
                    <a href="../../Object.html">Object</a>
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../files/actionview/lib/action_view/template/types_rb.html">actionview/lib/action_view/template/types.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  

  

  
  


  
    <h2 id="namespace">Namespace</h2>

    

    
      <h3 id="class">Class</h3>
      <ul>
      
        <li><a href="Types/Type.html">ActionView::Template::Types::Type</a></li>
      
      </ul>
    
  

  
    <!-- Method ref -->
    <h2 id="methods">Methods</h2>
    <dl class="methods">
      
        <dt>#</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-c-5B-5D">[]</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>D</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-c-delegate_to">delegate_to</a>
              </li>
            
          </ul>
        </dd>
      
        <dt>S</dt>
        <dd>
          <ul>
            
              
              <li>
                <a href="#method-c-symbols">symbols</a>
              </li>
            
          </ul>
        </dd>
      
    </dl>
  

  

  
    

    

    

    

    <!-- Methods -->
    
      <h2 id="methods">Class Public methods</h2>
      
        <div class="method">
          <h3 id="method-c-5B-5D">
            
              [](type)
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-c-5B-5D_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionview/lib/action_view/template/types.rb, line 48</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword">self</span>.<span class="ruby-identifier ruby-title">[]</span>(<span class="ruby-identifier">type</span>)
  <span class="ruby-identifier">type_klass</span>[<span class="ruby-identifier">type</span>]
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <h3 id="method-c-delegate_to">
            
              delegate_to(klass)
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-c-delegate_to_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionview/lib/action_view/template/types.rb, line 42</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword">self</span>.<span class="ruby-identifier ruby-title">delegate_to</span>(<span class="ruby-identifier">klass</span>)
  <span class="ruby-keyword">self</span>.<span class="ruby-identifier">type_klass</span> = <span class="ruby-identifier">klass</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <h3 id="method-c-symbols">
            
              symbols()
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-c-symbols_source" class="dyn-source">
                <pre><span class="ruby-comment"># File actionview/lib/action_view/template/types.rb, line 52</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword">self</span>.<span class="ruby-identifier ruby-title">symbols</span>
  <span class="ruby-identifier">type_klass</span><span class="ruby-operator">::</span><span class="ruby-constant">SET</span>.<span class="ruby-identifier">symbols</span>
<span class="ruby-keyword">end</span></pre>
              </div>
            </div>
            
          </div>
        
      
    
    
  
</div>

    </div>
</div>
