---
title: ActionView::Template::Types
layout: default
---
<div class="main">
    <div class="banner">
        
            <span>Ruby on Rails 7.0.3</span><br />
        
        <div class="type">Module</div>
        <h1>
            ActionView::Template::Types
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../files/actionview/lib/action_view/template/types_rb.html">actionview/lib/action_view/template/types.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  

  

  
  


  
    <h2 id="namespace">Namespace</h2>

    

    
      <h3 id="class">Class</h3>
      <ul>
      
        <li><a href="Types/Type.html">ActionView::Template::Types::Type</a></li>
      
      </ul>
    
  

  
    <h2 id="methods">Methods</h2>
    <ul>
      
        <li>
          <a href="#method-c-5B-5D">[]</a>
        </li>
      
        <li>
          <a href="#method-c-delegate_to">delegate_to</a>
        </li>
      
        <li>
          <a href="#method-c-symbols">symbols</a>
        </li>
      
    </ul>
  

  

  
    

    

    

    
      <!-- Section attributes -->
      <h2 id="attributes">Attributes</h2>
      <table border='0' cellpadding='5'>
        
          <tr valign='top'>
            <td class='attr-rw'>
              [RW]
            </td>
            <td class='attr-name'>type_klass</td>
            <td class='attr-desc'></td>
          </tr>
        
      </table>
    

    <!-- Methods -->
    
      <h2 id="class-public-methods">Class Public methods</h2>
      
        <div class="method">
          <h3 id="method-c-5B-5D">
            
              [](type)
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-c-5B-5D_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/template/types.rb, line 47</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">[]</span>(<span class="ruby-identifier">type</span>)
  <span class="ruby-identifier">type_klass</span>[<span class="ruby-identifier">type</span>]
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <h3 id="method-c-delegate_to">
            
              delegate_to(klass)
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-c-delegate_to_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/template/types.rb, line 43</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">delegate_to</span>(<span class="ruby-identifier">klass</span>)
  <span class="ruby-keyword">self</span>.<span class="ruby-identifier">type_klass</span> = <span class="ruby-identifier">klass</span>
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <h3 id="method-c-symbols">
            
              symbols()
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-c-symbols_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/template/types.rb, line 51</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">symbols</span>
  <span class="ruby-identifier">type_klass</span><span class="ruby-operator">::</span><span class="ruby-constant">SET</span>.<span class="ruby-identifier">symbols</span>
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
      
    
    
  
</div>

    </div>
</div>
