---
title: ActionView::Template::Handlers::ERB
layout: default
---
<div class="main">
    <div class="banner">
        
            <span>Ruby on Rails 5.2.6</span><br />
        
        <div class="type">Class</div>
        <h1>
            ActionView::Template::Handlers::ERB
            
                <span class="parent">&lt;
                    
                    <a href="../../../Object.html">Object</a>
                    
                </span>
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../../files/actionview/lib/action_view/template/handlers/erb_rb.html">actionview/lib/action_view/template/handlers/erb.rb</a></li>
            
            <li><a href="../../../../files/actionview/lib/action_view/template/handlers/erb/erubi_rb.html">actionview/lib/action_view/template/handlers/erb/erubi.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  

  

  
  


  

  
    <h2 id="methods">Methods</h2>
    <ul>
      
        <li>
          <a href="#method-c-call">call</a>
        </li>
      
        <li>
          <a href="#method-i-call">call</a>
        </li>
      
        <li>
          <a href="#method-i-handles_encoding-3F">handles_encoding?</a>
        </li>
      
        <li>
          <a href="#method-i-supports_streaming-3F">supports_streaming?</a>
        </li>
      
    </ul>
  

  

  
    

    

    
      <!-- Section constants -->
      <h2 id="constants">Constants</h2>
      <table border='0' cellpadding='5'>
        
          <tr valign='top'>
            <td class="attr-name">ENCODING_TAG</td>
            <td>=</td>
            <td class="attr-value">Regexp.new(&quot;\\A(&lt;%#{ENCODING_FLAG}-?%&gt;)[ \\t]*&quot;)</td>
          </tr>
          
            <tr valign='top'>
              <td>&nbsp;</td>
              <td colspan="2" class="attr-desc"></td>
            </tr>
          
        
      </table>
    

    

    <!-- Methods -->
    
      <h2 id="class-public-methods">Class Public methods</h2>
      
        <div class="method">
          <h3 id="method-c-call">
            
              call(template)
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-c-call_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/template/handlers/erb.rb, line 21</span>
<span class="ruby-keyword">def</span> <span class="ruby-keyword">self</span>.<span class="ruby-identifier ruby-title">call</span>(<span class="ruby-identifier">template</span>)
  <span class="ruby-identifier">new</span>.<span class="ruby-identifier">call</span>(<span class="ruby-identifier">template</span>)
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
      
    
      <h2 id="instance-public-methods">Instance Public methods</h2>
      
        <div class="method">
          <h3 id="method-i-call">
            
              call(template)
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-i-call_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/template/handlers/erb.rb, line 33</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">call</span>(<span class="ruby-identifier">template</span>)
  <span class="ruby-comment"># First, convert to BINARY, so in case the encoding is</span>
  <span class="ruby-comment"># wrong, we can still find an encoding tag</span>
  <span class="ruby-comment"># (&lt;%# encoding %&gt;) inside the String using a regular</span>
  <span class="ruby-comment"># expression</span>
  <span class="ruby-identifier">template_source</span> = <span class="ruby-identifier">template</span>.<span class="ruby-identifier">source</span>.<span class="ruby-identifier">dup</span>.<span class="ruby-identifier">force_encoding</span>(<span class="ruby-constant">Encoding</span><span class="ruby-operator">::</span><span class="ruby-constant">ASCII_8BIT</span>)

  <span class="ruby-identifier">erb</span> = <span class="ruby-identifier">template_source</span>.<span class="ruby-identifier">gsub</span>(<span class="ruby-constant">ENCODING_TAG</span>, <span class="ruby-string">&quot;&quot;</span>)
  <span class="ruby-identifier">encoding</span> = <span class="ruby-node">$2</span>

  <span class="ruby-identifier">erb</span>.<span class="ruby-identifier">force_encoding</span> <span class="ruby-identifier">valid_encoding</span>(<span class="ruby-identifier">template</span>.<span class="ruby-identifier">source</span>.<span class="ruby-identifier">dup</span>, <span class="ruby-identifier">encoding</span>)

  <span class="ruby-comment"># Always make sure we return a String in the default_internal</span>
  <span class="ruby-identifier">erb</span>.<span class="ruby-identifier">encode!</span>

  <span class="ruby-keyword">self</span>.<span class="ruby-identifier">class</span>.<span class="ruby-identifier">erb_implementation</span>.<span class="ruby-identifier">new</span>(
    <span class="ruby-identifier">erb</span>,
    <span class="ruby-value">escape:</span> (<span class="ruby-keyword">self</span>.<span class="ruby-identifier">class</span>.<span class="ruby-identifier">escape_whitelist</span>.<span class="ruby-identifier">include?</span> <span class="ruby-identifier">template</span>.<span class="ruby-identifier">type</span>),
    <span class="ruby-value">trim:</span> (<span class="ruby-keyword">self</span>.<span class="ruby-identifier">class</span>.<span class="ruby-identifier">erb_trim_mode</span> <span class="ruby-operator">==</span> <span class="ruby-string">&quot;-&quot;</span>)
  ).<span class="ruby-identifier">src</span>
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <h3 id="method-i-handles_encoding-3F">
            
              handles_encoding?()
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-i-handles_encoding-3F_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/template/handlers/erb.rb, line 29</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">handles_encoding?</span>
  <span class="ruby-keyword">true</span>
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
        <div class="method">
          <h3 id="method-i-supports_streaming-3F">
            
              supports_streaming?()
            
          </h3>

          
            <div class="description">
              
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-i-supports_streaming-3F_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionview/lib/action_view/template/handlers/erb.rb, line 25</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">supports_streaming?</span>
  <span class="ruby-keyword">true</span>
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
      
    
  
</div>

    </div>
</div>
