---
title: AbstractController::Caching::Fragments::ClassMethods
layout: default
---
<div class="main">
    <div class="banner">
        
            <span>Ruby on Rails 5.2.6</span><br />
        
        <div class="type">Module</div>
        <h1>
            AbstractController::Caching::Fragments::ClassMethods
            
        </h1>
        <ul class="files">
            
            <li><a href="../../../../files/actionpack/lib/abstract_controller/caching/fragments_rb.html">actionpack/lib/abstract_controller/caching/fragments.rb</a></li>
            
        </ul>
    </div>
    <div id="bodyContent">
        <div id="content">
  

  

  
  


  

  
    <h2 id="methods">Methods</h2>
    <ul>
      
        <li>
          <a href="#method-i-fragment_cache_key">fragment_cache_key</a>
        </li>
      
    </ul>
  

  

  
    

    

    

    

    <!-- Methods -->
    
    
      <h2 id="instance-public-methods">Instance Public methods</h2>
      
        <div class="method">
          <h3 id="method-i-fragment_cache_key">
            
              fragment_cache_key(value = nil, &amp;key)
            
          </h3>

          
            <div class="description">
              <p>Allows you to specify controller-wide key prefixes for cache fragments. Pass either a constant <code>value</code>, or a block which computes a value each time a cache key is generated.</p>

<p>For example, you may want to prefix all fragment cache keys with a global version identifier, so you can easily invalidate all caches.</p>

<pre><code>class ApplicationController
  fragment_cache_key &quot;v1&quot;
end
</code></pre>

<p>When it&#39;s time to invalidate all fragments, simply change the string constant. Or, progressively roll out the cache invalidation using a computed value:</p>

<pre><code>class ApplicationController
  fragment_cache_key do
    @account.id.odd? ? &quot;v1&quot; : &quot;v2&quot;
  end
end
</code></pre>
            </div>
          

          

          

          
            
            <div class="sourcecode">
              
              <p class="source-link">
                Source:
                
              </p>
              <div id="method-i-fragment_cache_key_source">
                <pre><code class="ruby"><span class="ruby-comment"># File actionpack/lib/abstract_controller/caching/fragments.rb, line 58</span>
<span class="ruby-keyword">def</span> <span class="ruby-identifier ruby-title">fragment_cache_key</span>(<span class="ruby-identifier">value</span> = <span class="ruby-keyword">nil</span>, <span class="ruby-operator">&amp;</span><span class="ruby-identifier">key</span>)
  <span class="ruby-keyword">self</span>.<span class="ruby-identifier">fragment_cache_keys</span> <span class="ruby-operator">+=</span> [<span class="ruby-identifier">key</span> <span class="ruby-operator">||</span> <span class="ruby-operator">-&gt;</span> { <span class="ruby-identifier">value</span> }]
<span class="ruby-keyword">end</span></code></pre>
              </div>
            </div>
            
          </div>
        
      
    
  
</div>

    </div>
</div>
